::selection {
  color: #6868ff;
  background: #bebeff;
}

::-moz-selection {
  color: #6868ff;
  background: #bebeff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Yomogi", cursive;
  font-weight: lighter;
  max-width: 100rem;
  background-color: #121212;
  color :white
}

h6 {
  font-size: 1rem;
}

html {
  margin: auto;
}

.home-container {
  color: rgb(92, 92, 92);
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(23%);
}

.home-container h1 {
  font-size: 3rem;
}

.description h2 {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.get-started {
  text-decoration: none;
  margin-top: 3rem;
  color: gray;
  padding: 0.8rem;
  border: 0.1px solid rgba(92, 92, 92, 0.4);
  font-weight: bold;
  border-radius: 7px;
  transition: 0.3s;
}

.get-started:hover {
  background: rgba(30, 215, 96, 0.8);
  color: white;
  border: 0.1px solid rgba(92, 92, 92, 0.4);
  transition-delay: 0.3s;
  animation: animate 0.3s steps(8) forwards;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -960px;
  }
}


.name {
  color: rgba(30, 215, 96, 1);
  font-weight: bold;
}

@media screen and (max-width: 1030px) {
  .box-shadow {
    width: 90vw;
  }

  .home-container h1 {
    font-size: 2.6rem;
    margin-top: 1rem;
  }

  .description h2 {
    font-size: 1.5rem;
  }

  .home-container {
    transform: translateY(6%);
  }

}

h5 {
  padding: 1rem;
  font-size: 1.05rem;
}

.website-link {
  text-decoration: none;
  font-weight: bold; 
  color: rgba(30, 215, 96, 0.8);
  font-size: 1rem;
}

.website-link:hover {
  text-decoration: underline;
  color: #595999;
  cursor: pointer;
}

